<div class="row" style="margin-top:150px;margin-bottom:250px;">
    <div class="col-lg-6" >@Html.ActionLink("- Gelen Mesajlar", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "text-transform:none;text-align:center;" })</div>
    <div class="col-lg-6" >@Html.ActionLink("- Mesaj Gonder", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "text-transform:none;text-align:center;" })</div>
</div>